* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-top: 100px;
  font-size: 44px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
h4 {
  margin-top: 60px;
  font-size: 24px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.addTask-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.addTask-input input {
  width: 300px;
  padding: 8px 10px;
  font-size: 18px;
  border-radius: 8px;
  outline: none;
}
.addTask-input button {
  margin: 0 10px;
  padding: 8px 24px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 8px;
  cursor: pointer;
}
ul li {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li input[type="checkbox"] {
  cursor: pointer;
}
ul li input:nth-child(2) {
  margin: 0 8px;
  padding: 2px 8px;
  font-size: 18px;
  outline: none;
  border-radius: 6px;
}
ul li span:nth-child(2) {
  margin: 0 8px;
}
ul li span {
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li button {
  margin: 0 6px;
  font-size: 18px;
  padding: 2px 8px;
  border-radius: 6px;
  cursor: pointer;
}
